---
import Layout from "../layouts/Layout.astro";
import Background from "../components/Background.astro";
---

<Layout>
  <main class="flex min-h-dvh items-center justify-center px-6 py-12">
    <Background/>
  </main>
</Layout>
